*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: #1a227d;
}
#container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border-radius: 50px;
}
.card{
    height: 50px;
    width: 50px;
    background-color: #9691c2;
    color: #ffffa0;
    border: 1px solid #faf9f0;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1, h2{
    color: white;
    text-align: center;
    margin: 20px;
}